@import "../styles/color";

.Header {
    margin-bottom: 24px;
}

.HeaderTitle {
    margin-bottom: 0;

    a {
        border-bottom: none;
    }
}

.HeaderDate {
    color: $light-grey;
    margin-top: 0;
    margin-bottom: 0;
}

.Separator {
    border: none;
    border-bottom: 1px solid $light-grey;
    margin-top: 52px;
    margin-bottom: 24px;
}

.Comments {
    margin-bottom: 24px;
}