@import "../styles/color";

.BlogPost {
    display: grid;
    margin-bottom: 16px;

    @media screen and (min-width: 720px) {
        grid-template-columns: 140px 1fr;
    }
}

.BlogPostTitle {
    margin-bottom: 0;

    a {
        border-bottom: none;
    }
}

.BlogPostDate {
    color: $grey-1;
    font-weight: 400;
}


.BlogPostTitle,
.BlogPostDate {
    align-self: center;
    font-size: 1rem;
    
    @media screen and (min-width: 720px) {
        font-size: 1.4rem;
    }
}